<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fields Input List</title>
</head>
<body>

<h1>Изминения на сайте</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>Form</p>


    {% for f in form %}
        <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button type="submit">Add</button></p>
</form>

</body>
</html>
